@keyframes popup {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes btn-up{
    0%{
        transform: translateY(1.5rem);
        box-shadow: 0 0 0;
    }
    100%{
        transform: translateY(0);
        box-shadow: 0 1.5rem 0;
    }
}
.winner-animation{
    animation: winner-background .5s ease-out;
    animation-fill-mode: forwards;
}

@include winning-animation(7rem);

@include respond(breakpoint3){
    @include winning-animation(6rem);
}

@include respond(breakpoint5){
    @include winning-animation(5rem);
}
